body{
    margin: 0;
    padding: 0;
}

.container-1{
    background-color: grey;
    display: grid;
    height: 100vh;
    grid-template-columns: 50% ;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 
        "logo navigation-bar"
        "content-1 content-1";
}

.logo{
    grid-area: logo;
    background-color: black;
    
}

img{
    height: 100%;
    position: relative;
    left: 20px;
}

.navigation-bar{
    grid-area: navigation-bar;
    background-color: black;
}

.content-1{
    grid-area: content-1;
    background-color: grey;
}